extends layout

block content
  h1= article.title
  h5 Written by #{username}
  p= article.Body
  hr
  if user
    if user.id === article.Author
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
